{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Report by date</li>
        </ol>
    </nav>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sum Revenue</th>
                <th>Sum Clicks</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td><a href="{% url 'reports:publisher' report.date %}">{{ report.date }}<a/></td>
                <td>$ {{ report.revenue|floatformat:2 }}</td>
                <td>{{ report.clicks|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock  %}