{% extends 'base.html' %}
{% load humanize %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/reports">Report by date</a></li>
        <li class="breadcrumb-item active" aria-current="page">Publishers</li>
        </ol>
    </nav>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Publisher Name</th>
                <th>Sum Revenue</th>
                <th>Sum Clicks</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td><a href="{% url 'reports:source' report.source report.pub_name report.date %}">{{ report.pub_name|title }}<a/></td>
                <td>$ {{ report.revenue|floatformat:2 }}</td>
                <td>{{ report.clicks|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock  %}