{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/reports">Report by date</a></li>
        <li class="breadcrumb-item"><a href="{{ request.META.HTTP_REFERER }}">Publishers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sources</li>
        </ol>
    </nav>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th>Sum Revenue</th>
                <th>Sum Clicks</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.source|title }}<a/></td>
                <td>$ {{ report.source_revenue|floatformat:2 }}</td>
                <td>{{ report.source_clicks|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock  %}